---
Language: Cpp
Standard: c++17
BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 2
UseTab: Never
TabWidth: 2
ContinuationIndentWidth: 2
PointerAlignment: Right
ReferenceAlignment: Right
DerivePointerAlignment: false
BreakBeforeBraces: Attach
AccessModifierOffset: -2
NamespaceIndentation: None
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
SortIncludes: false
SortUsingDeclarations: false
IncludeBlocks: Preserve
FixNamespaceComments: true
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
KeepEmptyLinesAtEOF: false
InsertNewlineAtEOF: false
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
SpacesInContainerLiterals: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakStringLiterals: true
CompactNamespaces: false
IndentPPDirectives: None
IndentExternBlock: Indent
IndentRequires: false
RequiresClausePosition: WithPreceding
InsertBraces: false
RemoveBracesLLVM: false
